
.forLogin input:focus,
.forLogin input:valid {
    border: 2px solid #40a3ff;
}


.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #40a3ff !important;
    border: 0px;
}

.forLogin.form-box button[type="submit"]:hover {
    background: #0069d9;
}