$theme-colors: (
  "info": teal,
  "danger": tomato,
  "primary": #40a3ff,
  "secondary": #fff,
);

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
}

.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item:hover .nav-link {
  color: #40a3ff!important;
}

@import "~bootstrap/scss/bootstrap";
@import "custom";